* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
  }

  html {
    font-size: 24px;
    font-family: 'Unica One', cursive;
    background: tan;
  }

  h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    margin-bottom: 0;
  }

  .hole {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.2);
    border: 1px solid white;
    padding: 0 2rem;
    border-radius: 1rem;
  }

  button.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: rgb(104, 72, 45);
    color: white;
    padding: 5px;
    margin: auto;
    width: 100px;
    border-radius: 20px;
    display: block;
  }
